@import 'variables.scss';
@import 'price-card.scss';
@import 'background.scss';
@import 'common.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: $color-primary-white;
}

body {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background: $backgrouhd-basic;
}

.price-tables {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
