$backgrouhd-basic:  #141B1C;
$backgrouhd-cards: #334247;
$backgrouhd-green:#5BB189;
$backgrouhd-blue: #3A6BA5;
$backgrouhd-orange: #EC632A;
$backgrouhd-cards-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
$backgrouhd-for-odd: rgb(42, 52, 56, 0.5);
$backgrouhd-for-even: rgb(31, 61, 99, 0.01);
$color-primary-white: #FFFFFF